:local(.selectContainer){
border: 1px solid rgb(221, 219, 219);
width: 230px;
position: relative;
border-radius: 2px;
}
:local(.numberInputParent){
border: 1px solid rgb(221, 219, 219);
width: 130px;
position: relative;
border-radius: 2px;
}

:local(.arrow:hover){
    color: red !important;
transition: 0.3s ease-in-out;
}

:local(.numberInputContainer){
    padding:10px 0;
    width: 66%;
    color: black;
    font-weight: bolder;
    font-size: 10px;
    text-align: center;
}
:local(.numberInputContainer::placeholder){
    color: black;
    opacity: 1;
    text-align: left;
}

:local(.inputContainer){
    padding:10px 8px;
    width: 80%;
    color: black;
    font-weight: bolder;
    font-size: 10px;
    text-align: center;
}
:local(.inputContainer::placeholder){
    color: black;
    opacity: 1;
    text-align: left;
}
:local(.arrowContainer){
    background-color: #ED1D24;
    padding:10px 8px;
    width: 20%;
    text-align: center;
}

:local(.optionsContainer){
    position: absolute;
    width: 100%;
    max-height: 100%;
    min-height: 100px;
    overflow-y: scroll;
    color: black;
    font-weight: bolder;
    font-size: 10px;
    text-align: left;
    background-color: white;
    z-index: 9999;
    border-radius: 2px;
    border: 1px solid rgb(221, 219, 219);
}


:local(.listWithoutDot){
    list-style-type: none;
}
