:local(.borderedButtonWidth){
    width: 200px;
    position: relative !important;
    transition: 0.3s width ease-in-out !important;
}


:local(.borderedButtonArrowTail){
    width: 100px;
    transition: 0.3s width ease-in-out !important;
    border-bottom: 1px solid black ;
}


:local(.textTail){
    width: 0 !important;
    transition: 0.3s width ease-in-out !important;
    border-bottom: 1px solid black;
}

:local(.borderedButtonWidth:hover .textTail){
    width: 60px !important;
    transition: 0.3s width ease-in-out !important;
}


:local(.borderedButtonWidth:hover .borderedButtonArrowTail){
    width: 0 !important;
    border-bottom: 1px solid white;
    transition: 0.3s ease-in-out !important;
}


:local(.borderedButtonWidth:hover .rectangledBorder){
    width: 200px !important;
    transition: 0.3s width ease-in-out !important;
}



:local(.backBorderedButtonArrowTail){
    width: 100px;
    transition: 0.3s width ease-in-out !important;
    border-bottom: 1px solid white;
}


:local(.backTextTail){
    width: 0 !important;
    transition: 0.3s width ease-in-out !important;
    border-bottom: 1px solid white;
}

:local(.borderedButtonWidth:hover .backTextTail){
    width: 60px !important;
    transition: 0.3s width ease-in-out !important;
}


:local(.borderedButtonWidth:hover .backBorderedButtonArrowTail){
    width: 0 !important;
    border-bottom: 1px solid white !important;
    transition: 0.3s ease-in-out !important;
}



:local(.rectangledBorder){
    width: 90px !important;
    height: 50px !important;
    right: 0px !important;
    transition: 0.3s width ease-in-out !important;
    position: absolute !important;
    border: 1px solid #BEBEBE;
}

:local(.borderedButtonWidth:hover .backwardRectangledBorder){
    width: 200px !important;
    transition: 0.3s width ease-in-out !important;
}


:local(.backwardRectangledBorder){
    width: 90px !important;
    height: 50px !important;
    position: absolute !important;
    left: 0 !important;
    transition: 0.3s width ease-in-out !important;
    border: 1px solid white ;
}