:local(.loginBg) {
  background: url("../../assets/images/login-bg.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

:local(.sliderBackgroundImage) {
  width: 100%;
  background: url("https://grandprix.qodeinteractive.com/wp-content/uploads/2019/09/h2-rev-img-10.png");
  background-size: contain;
  height: 610px;
}

:local(.headerBg) {
  background-color: #f5f5f5;
  margin-top: 97px;
  height: 40px;
}

:local(.largePaddingTop) {
  padding: 100px 0 !important;
}

:local(.redBackground) {
  background-color: rgba(216, 21, 21, 0.84);
  width: 50%;
  height: 100%;
}
:local(.blueBackground) {
  background-color: #1b2eccd9;
  width: 50%;
  height: 100%;
}

:local(.grayBackground) {
  background-color: rgba(247, 242, 242, 0.25);
  width: 50%;
  height: 100%;
}

:local(.inputContainer) {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: none;
  outline: none;
  border: 2px solid #b4bcfe;
  color: white;
  font-weight: bolder;
}

:local(.inputContainer:active) {
  background-color: transparent;
}

:local(.inputContainer:focus) {
  background-color: transparent;
}

:local(.inputContainer::placeholder) {
  color: white;
  font-size: 10pt;
  opacity: 1;
  text-transform: capitalize;
  font-weight: bolder;
}

:local(.googleIcon) {
  width: 50px;
  height: 50px;
  border: 1px solid #bebebe;
  padding: 2px;
  background-color: white;
}

:local(.twitterIcon) {
  width: 50px;
  height: 50px;
  border: 1px solid #bebebe;
  padding: 1px;
  background-color: white;
}

:local(.facebookIcon) {
  width: 60px;
  height: 60px;
  border: 1px solid #bebebe;
  padding: 2px;
  background-color: white;
}

:local(.iconMargins) {
  margin: 60px 0 70px 0;
}

:local(.textDecoration) {
  text-decoration: underline;
}

:local(.bar) {
  width: 30px;
  background-color: #b8b8b8;
  height: 2px;
  margin: 0 10px 4px 10px;
  display: inline-block;
}

:local(.paddingHorizontal) {
  padding: 0 49px;
}

:local(.phoneInputPadding) {
  padding: 0 32px;
  margin-top: 13px;
}

:local(.forgetText) {
  // color: #959eeb;
  color: white;
}

:local(.forgetText:hover) {
  color: #959eeb;
}

:local(.agreementPadding) {
  padding: 0 32px;
}

:local(.oLogo) {
  position: absolute;
  top: 27%;
  right: 0;
  font-size: 100px;
  display: block;
  opacity: 0.3;
  z-index: -999;
  color: #ef1a24;
  font-weight: bolder;
}

:local(.rLogo) {
  position: absolute;
  top: 27%;
  display: block;
  left: 0;
  font-size: 100px;
  opacity: 0.6;
  color: #c3c3c3;
  font-weight: bolder;
}

:local(.btnHover:hover) {
  background-color: black !important;
}
:local(.textAreaContainer) {
  border: 0;
  border-bottom: 1px solid #bebebe;
}

:local(.textAreaContainer:focus) {
  border-bottom: 2px solid #ed1d24;
  transition: 0.3s ease-in-out;
}

:local(.firstRowProductContainer) {
  display: none;
}

@media (max-width: 576px) {
  :local(.firstRowProductContainer) {
    display: block !important;
  }

  :local(.redBackground) {
    width: 100%;
    height: 74%;
  }

  :local(.grayBackground) {
    width: 100%;
    height: 40%;
  }

  :local(.signUpMobileRedBg) {
    height: 760px !important;
  }

  :local(.signUpMobileGrayBg) {
    height: 5% !important;
  }

  :local(.phoneInputPadding) {
    padding: 0 22px;
    margin-top: 13px;
    margin-left: 15px;
  }

  :local(.mobileLoginButtonMargin) {
    margin: 0 20px;
  }

  :local(.mobileLoginButtonWidth) {
    width: 100% !important;
  }

  :local(.oLogo) {
    display: none !important;
  }

  :local(.rLogo) {
    display: none !important;
  }
}
