.loadingContainer {
  text-align: center;
  opacity: 0.4;
  height: 100%;
}

.loadingProgress {
  position: absolute;
  top: 50%;
  left: 50%;  
  border-radius: 50%;
}
.loadingSpinner{
  width: 60px;
  top:20%;
  position: absolute;
  height: 60px;
}