:local(.footerContainer){
    background-color: #0D0D0D;
}
:local(.paragraphText){
    color: #808080;
}
:local(.bgDark){
    background-color: #000000;
    color: #808080;
}
:local(.footerHoverColor:hover){
    color: #ED1D24;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

:local(.marginHorizontal){
    margin: 0 29px;
}

:local(.numberMarginHorizontal){
    margin: 0 33px;
}

:local(.emailMarginHorizontal){
    margin: 0 34px;
}

:local(.firstRowProductContainer){
    display: none ;
}
 


@media (max-width: 576px) {

:local(.firstRowProductContainer){
    display: block !important;
}

}
