@font-face {
  font-family: 'IranSans';
  src:url('../webfonts/iransans/IRANSansWeb_Black.eot');
  src: url('../webfonts/iransans/IRANSans(FaNum).ttf') format('truetype'  ),
      url('../webfonts/iransans/IRANSansWeb.woff') format('woff'),
    url('../webfonts/iransans/IRANSansWeb_Black.woff2') format('woff2');
  font-weight: normal;
}
/* rajdhani-regular - latin */
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  src: url('../webfonts/rajdhani/Rajdhani-Regular.ttf'); /* IE9 Compat Modes */
}


@font-face {
  font-family: 'Rajdhani';
  font-weight: 200;
  src: url('../webfonts/rajdhani/Rajdhani-Light.ttf'); /* IE9 Compat Modes */
}


@font-face {
  font-family: 'Rajdhani';
  font-style: medium;
  font-weight: 500;
  src: url('../webfonts/rajdhani/Rajdhani-Medium.ttf'); /* IE9 Compat Modes */
}


@font-face {
  font-family: 'Rajdhani';
  font-style: bold;
  font-weight: 700;
  src: url('../webfonts/rajdhani/Rajdhani-SemiBold.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Rajdhani';
  font-style: bolder;
  font-weight: 900;
  src: url('../webfonts/rajdhani/Rajdhani-Bold.ttf'); /* IE9 Compat Modes */
}


/* ubuntu-regular - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../webfonts/ubuntu/ubuntu-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
       url('../webfonts/ubuntu/ubuntu-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/ubuntu/ubuntu-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/ubuntu/ubuntu-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/ubuntu/ubuntu-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/ubuntu/ubuntu-v14-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: url('../webfonts/Heebo/Heebo-VariableFont_wght.ttf'); /* IE9 Compat Modes */
}


html,
body {
  margin: 0;
  padding: 0;
  font-weight: bolder;
}

body {
  background-color: #fff;
}

#root {
  direction: rtl;
  text-align: right;
}

input::placeholder{
  font-size: 12px;
}

.visible{
  visibility: visible !important;
}


.hidden{
  visibility: hidden !important;
}

.small-curved{
  border-radius: 1px !important;
}

.curved{
  border-radius: 2px !important;
}

.font-tiny{
  font-size: 6pt !important;
}

.font-smaller {
  font-size: 8pt !important;
}

.font-small {
  font-size: 10pt !important;
}

.font-large {
  font-size: 12pt !important;
}

.font-xlarge {
  font-size: 14pt !important;
}

.font-xxlarge {
  font-size: 16pt !important;
}

.font-xxxlarge {
  font-size: 18pt !important;
}
.font-big{
  font-size: 20pt !important;
}

.font-giant {
  font-size: 26pt !important;
}

.font-super-giant {
  font-size: 30pt !important;
}
.text-bold-success{
  color:#08794f
}
.w-20{
  width: 20% !important;
}
.calendarContainer{
  top:100px !important
}

.high-z-index{
  z-index: 2000;
}
.low-z-index{
  z-index: -2000;
}
.pointer{
  cursor: pointer;
}

.letter-spacing{
  letter-spacing: 10px;
}
.text-line{
  text-decoration: line-through !important;
}

.btn{
display: inline-block;
font-weight: 400;
color: #212529;
text-align: center;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-color: transparent;
border: 1px solid transparent;
border-top-color: transparent;
border-right-color: transparent;
border-bottom-color: transparent;
border-left-color: transparent;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
width: 150px;
height: 54px;
border-radius: 1px;
transition: color 0.15s ease-in-out,
 background-color 0.15s ease-in-out, 
border-color 0.15s ease-in-out, 
box-shadow 0.15s ease-in-out;
}